body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
}

.img-logo{
    width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.user-icon {
    margin-right: 30px;
    cursor: pointer;
}

.user-icon a{
    text-decoration: none;
}

.social-icons{
    width: 30px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
        position: absolute;
        top: 100%;
        left: 0;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links li a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .nav-links li a:hover {
        background-color: #f0f0f0;
    }

    .navbar .search-icon, .navbar .user-icon img {
        display: none;
    }
}

.catalogo-de-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top:6%;

}

.buscador-lateral{
    flex: 1;
    max-width: 250px;
    margin-right: 20px;
}

.contenido-principal{
    flex: 3;
}

.categorias, .producto {
    margin-bottom: 20px;
}

.categorias h3, .producto h3 {
    margin-top: 0;
}

.categorias ul{
    list-style: none;

}

.categorias ul li a{
    text-decoration: none;
    color: black;
}

.estructura-de-productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.producto {
    border: 1px solid #ddd;
    padding: 15px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .catalogo-de-productos {
        flex-direction: column;
    }

    .buscador-lateral {
        max-width: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.whatsapp-icon{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img{
    width: 50px;
    height: 50px;
}

.paginacion ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
}
.paginacion li {
    margin: 0 5px;
}
.paginacion a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.paginacion a:hover {
    background-color: #007bff;
    color: #fff;
} 

.container-de-pie-de-pagina{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    padding: 0px;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    background-color: #061f8f;
    color: #fff;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    box-sizing: border-box;
}

.section h2 {
    margin-top: 0;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #061f8f;
    padding: 0px;
}

.map-container img {
    max-width: 100%;
    height: auto;
}

.links {
    color: #fff;
    padding: 20px;
}

.links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .section {
        width: 100%;
    }
}
